<footer class="site-footer">
  <div class="wrapper">
    <p>
      &copy; {{ site.time | date: "%Y" }}
      <a href="{{ '/' | relative_url }}">{{ site.title | default: "adibue.dev" }}</a><br>
      All rights reserved for logo and branding.
    </p>
    <p class="license-info">
      <small>
        Code: <a href="https://github.com/adibue/adibue.dev/blob/main/LICENSE" target="_blank">MIT License</a><br>
        Docs & Images: <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">CC BY-NC-ND 4.0</a>
      </small>
    </p>
  </div>
</footer>
